* {
    margin: 0;
    padding: 0;
}


/* 使用到了perspective和transform-style，实现3D效果。利用定位将所有图片重叠。 */

.container {
    display: flex;
    min-height: 100vh;
    perspective: 800px;
    background: #000;
    touch-action: none;
}

.wrap {
    position: relative;
    width: 120px;
    height: 180px;
    margin: auto;
    transform-style: preserve-3d;
    pointer-events: none;
}

.wrap img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 2px;
}