.loading2 {
    position: relative;
    width: 46px;
    height: 46px;
    margin: 27px auto 0 auto;
}

.loading2-item1,
.loading2-item2,
.loading2-item3,
.loading2-item4 {
    width: 16px;
    height: 16px;
    border-radius: 100%;
    background: red;
}


/* 
通过绝对定位，将四个元素分别定位到以四条边的中点为圆心的位置，并加上不同的颜色
*/

.loading2-item1 {
    position: absolute;
    top: -8px;
    left: 50%;
    margin-left: -8px;
    background: #CDDC39;
}

.loading2-item2 {
    position: absolute;
    right: -8px;
    top: 50%;
    margin-top: -8px;
    background: #3F51B5;
}

.loading2-item3 {
    position: absolute;
    bottom: -8px;
    left: 50%;
    margin-left: -8px;
    background: #F44336;
}

.loading2-item4 {
    position: absolute;
    left: -8px;
    top: 50%;
    margin-top: -8px;
    background: #4CAF50;
}

@keyframes loading2-run {
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(90deg);
    }
    50% {
        transform: rotate(180deg);
    }
    75% {
        transform: rotate(270deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.loading2 {
    position: relative;
    width: 46px;
    height: 46px;
    margin: 27px auto 0 auto;
    animation: loading2-run 2s linear 0s infinite;
}