/* 椭圆 */

.ellipse {
    width: 100px;
    height: 75px;
    border-radius: 100px / 75px;
    background: linear-gradient(#fb3 33.3%, #58a 0, #58a 66.6%, yellowgreen 0);
    background-size: 100% 45px;
    margin: 20px;
}


/* 三角 */

#cssTest {
    /* float: left; */
    width: 200px;
    height: 96px;
    border: 2px solid red;
    position: relative;
    left: 20px;
    top: 20px;
}

#cssTest:before {
    content: "";
    /* border: 20px solid red;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    width: 0px;
    height: 0px;
    position: absolute;
    left: 202px;
    top: 0px; */
    width: 0;
    height: 0;
    border-top: 50px solid transparent;
    border-left: 100px solid red;
    border-bottom: 50px solid transparent;
    position: absolute;
    left: 202px;
    top: -2px;
}


/* #cssTest:after {
    content: "";
    border: 19px solid #fff;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    width: 0px;
    height: 0px;
    position: absolute;
    left: 200px;
    top: 1px;
} */


/* 平行四边形 */

.button1 {
    display: inline-block;
    background-color: #fb3;
    transform: skewX(-45deg);
}

.button1>span {
    display: inline-block;
    transform: skewX(45deg);
}

.button2 {
    position: relative;
    /* 其他的文字颜色、内边距等样式…… */
}

.button2::before {
    content: '';
    /* 用伪元素来生成一个矩形 */
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    background: #58a;
    transform: skew(-45deg);
}


/* 菱形 */

.picture {
    width: 25px;
    height: 25px;
    transform: rotate(45deg);
    overflow: hidden;
    margin: 20px;
    background: #58a;
}

.picture>span {
    display: inline-block;
    transform: rotate(-45deg);
}


/**
   * Trapezoid tabs
   */


/* 梯形Tab */

body {
    padding: 40px;
    font: 130%/2 Frutiger LT Std, sans-serif;
}

nav {
    position: relative;
    z-index: 1;
    padding-left: 1em;
}

nav>a {
    position: relative;
    display: inline-block;
    padding: .3em 1em 0;
    color: inherit;
    text-decoration: none;
    margin: 0 -.3em;
}

nav>a::before,
main {
    border: .1em solid rgba(0, 0, 0, .4);
}

nav a::before {
    content: '';
    /* To generate the box */
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    border-bottom: none;
    border-radius: .5em .5em 0 0;
    background: #ccc linear-gradient(hsla(0, 0%, 100%, .6), hsla(0, 0%, 100%, 0));
    box-shadow: 0 .15em white inset;
    transform: scale(1.1, 1.3) perspective(.5em) rotateX(5deg);
    transform-origin: bottom;
}

nav a.selected {
    z-index: 2;
}

nav a.selected::before {
    background-color: #eee;
    margin-bottom: -.08em;
}

main {
    display: block;
    margin-bottom: 1em;
    background: #eee;
    padding: 1em;
    border-radius: .15em;
}

nav.left>a::before {
    transform: scale(1.2, 1.3) perspective(.5em) rotateX(5deg);
    transform-origin: bottom left;
}

nav.right {
    padding-left: 2em;
}

nav.right>a::before {
    transform: scale(1.2, 1.3) perspective(.5em) rotateX(5deg);
    transform-origin: bottom right;
}